<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="des" style="display: none;">
        yo la team
    </p>
    <button id="learnMore">
        learn More
    </button>
    <script>
        const des = document.getElementById('des')
        const btn1 = document.querySelectorAll("#learnMore")
        btn1.addEventListener('click', function changeDisplay(){
        if(des.style.display == "none"){
            des.style.display = "flex"
        } else if(des.style.display == 'flex'){
            des.style.display = "none"
        }
    })
    </script>
</body>
</html>