<form method="post" action="{{ path('app_postulate_delete', {'id': postulate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postulate.id) }}">
    <button class="btn">Delete</button>
</form>
