{% extends 'base.html.twig' %}

{% block title %}Edit Postulate{% endblock %}

{% block body %}
    <h1>Edit Postulate</h1>

    {{ include('postulate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_postulate_index') }}">back to list</a>

    {{ include('postulate/_delete_form.html.twig') }}
{% endblock %}
